body {
    background-color: #075072;
    color: #ffffff;
}

.startScreen {
    width: 100%;
    max-width: 100%;
    background-color: rgba(11, 85, 98, 0);
}

.navbar {
    list-style: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0;
    border: 2px solid #ffffff;
    background-image: url('./images/skyline.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-evenly;
    align-items: stretch;
    justify-content: center;
    display: flex;
    z-index: 1000;
}

a:link {
    color: #2cd1eb;
}

a:visited {
    color: #2cd1eb;
}

a:hover {
    color: #347e89;
}

.navbar a {
    display: flex;
    padding: 10px;
}

.navbar > li {
    margin: 10px 5px;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 1000;
}

.navbar > li > a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 1000;
}

.navbar a:hover {
    color: #FFFFFF;
    background-color: #0b8eb2;
    transform: scale(1.25);
    font-weight: bold;
    border-radius: 5px;
}

.navbar > li:hover > .homeList {
    display: block;
    border-radius: 5px;
}

.homeList {
    display: none;
    list-style: none;
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #044d84;
    border: 2px solid #ffffff;
    border-radius: 10px;
    min-width: 120px;
}

.homeList a {
    display: block;
    padding: 6px 9px;
    color: #ffffff;
    text-decoration: none;
}

.homeList a:hover {
    color: #ffffff;
    background-color: #0cbbeb;
    transform: scale(1.25);
    font-weight: bold;
    border-radius: 5px;
}

.navbar > li:hover > .historyList {
    display: block;
    border-radius: 5px;
}

.historyList {
    display: none;
    list-style: none;
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #044d84;
    border: 2px solid #ffffff;
    border-radius: 10px;
    min-width: 120px;
}

.historyList a {
    display: block;
    padding: 6px 9px;
    color: #ffffff;
    text-decoration: none;
}

.historyList a:hover {
    color: #ffffff;
    background-color: #0cbbeb;
    transform: scale(1.25);
    font-weight: bold;
    border-radius: 5px;
}

.navbar > li:hover > .politicsList {
    display: block;
    border-radius: 5px;
}

.politicsList {
    display: none;
    list-style: none;
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #044d84;
    border: 2px solid #ffffff;
    border-radius: 10px;
    min-width: 120px;
}

.politicsList a {
    display: block;
    padding: 6px 9px;
    color: #ffffff;
    text-decoration: none;
}

.politicsList a:hover {
    color: #ffffff;
    background-color: #0cbbeb;
    transform: scale(1.25);
    font-weight: bold;
    border-radius: 5px;
}

.navbar > li:hover > .zombielandList {
    display: block;
    border-radius: 5px;
}

.zombielandList {
    display: none;
    list-style: none;
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #044d84;
    border: 2px solid #ffffff;
    border-radius: 10px;
    min-width: 120px;
}

.zombielandList a {
    display: block;
    padding: 6px 9px;
    color: #ffffff;
    text-decoration: none;
}

.zombielandList a:hover {
    color: #ffffff;
    background-color: #0cbbeb;
    transform: scale(1.25);
    font-weight: bold;
    border-radius: 5px;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 3em;
}

h2 {
    color: #ffffff;
    text-align: center;
}

.homeScreen {
    width: 100%;
    max-width: 100%;
    background-color: rgba(11, 85, 98, 0);
}

.historyScreen {
    width: 100%;
    max-width: 100%;
    background-color: rgba(11, 85, 98, 0);
}

.politicsScreen {
    width: 100%;
    max-width: 100%;
    background-color: rgba(11, 85, 98, 0);
}

.zombieScreen {
    width: 100%;
    max-width: 100%;
    background-color: rgba(11, 85, 98, 0);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 600px) and (max-width: 899px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
    .container section:first-child {
        grid-column: span 2;
    }
    .container section:nth-child(2) {
        grid-column: span 1;
    }
}

@media (min-width: 900px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.imagesRight {
    max-width: 100%;
    height: auto;
    float: right;
    margin-left: 0.3rem;
}

.imagesLeft {
    max-width: 100%;
    height: auto;
    float: left;
    margin-right: 0.3rem;
}

.tableWrapper {
    display: flex;
    width: 100%;
    overflow: auto;
}

table {
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #098bb7;
    margin: 0.3em;
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
}

th {
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 0.2em;
    border-collapse: collapse;
    font-weight: bold;
}

td {
    padding: 0.2em;
    border: 2px solid #ffffff;
    border-collapse: collapse;
    text-align: center;
}

#form {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.innerField {
    align-items: center;
    justify-content: center;
    vertical-align: center;
    margin: 0.5em;
    padding: 0.5em;
}

.websiteScore {
    margin: 0;
}

.left-text {
    text-align: left;
    padding-right: 1em;
}

.right-text {
    text-align: right;
    padding-left: 20rem;
}

.footer-text {
    display: flex;
    color: #ffffff;
    background-image: url("images/skyline.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: clamp(0.85rem, 2.5vw, 1.1rem); 
}

.footer {
    font-size: 0.8em;
    color: #fffefe;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  width: 100%;                       
}

h1 {
    color: #eae86d;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-weight: bold;
}

.videoContainer {
   width: 100%;
   max-width: 600px;
   margin: auto;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}